fastapi
uvicorn[standard]
python-multipart
numpy
soundfile
huggingface_hub

--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.6.0+cpu
torchaudio==2.6.0+cpu

git+https://github.com/resemble-ai/chatterbox.git
